@using CarInsuranceMVC.ViewModels
@model List<QuoteVM>

@* There must also be an Admin view for a site administrator. This page must:
        *
    Show all quotes issued, along with the user's first name, last name, and email address.

*@

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quotes</h5>
        </div>
        <div class="card-body">
            @foreach (var quote in Model)
            {
                using (Html.BeginForm("Unsubscribe", "Admin", FormMethod.Post))
                {
                    <div class="row mb-1">
                        <div class="col">
                            @quote.FirstName
                        </div>
                        <div class="col">
                            @quote.LastName
                        </div>
                        <div class="col">
                            @quote.EmailAddress
                        </div>
                        <div class="col">
                            @quote.Quote
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

